<!--Variables-->


<!--Variables end-->

<section class="page_title translucent_bg_color_scheme image_fixed image_bg_14 t_align_c relative wrapper">
    <div class="container">
        <h1 class="color_light fw_light m_bottom_5" style="padding: 1rem;">{{.Get `get_started_section_1_title`}}</h1>
        <h3 class="color_light fw_light m_bottom_5" style="padding: 1rem;">{{.Get `get_started_section_1_subtitle`}}</h3>
        <h3 class="color_light fw_light m_bottom_5" style="padding: 1rem;">{{.Get `get_started_section_1_subtitle2`}}</h3>
        <!--breadcrumbs-->
    </div>
</section>

<section class="section_offset">
    <div style="display: flex; justify-content: center; padding-bottom: 4rem;">
        <h3>{{.Get `get_started_section_2_title`}}</h3>
    </div>
        <div class="container clearfix">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 m_xs_bottom_30">
                 <!-- Calendly inline widget begin -->
                 <div class="calendly-inline-widget" data-url="https://calendly.com/webnertia/strategy" style="height:630px;"></div>
                 <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
                 <!-- Calendly inline widget end -->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 m_xs_bottom_30">
                <h3 class="color_dark fw_light m_bottom_15 heading_1 t_align_c">{{.Get `form_header`}}</h3>
                <p class="m_bottom_35 heading_2 t_align_c"> </p>		
                <form action="/confirmation" name="contact-us-church-demo" method="post" data-netlify="true">
                    <ul>
                        <li class="row m_bottom_10">
                            <div class="col-lg-6 col-md-6 col-sm-6 w_xs_full m_xs_bottom_10">
                                <input type="text" name="name" placeholder="Name*" class="w_full r_corners fw_light" required>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 w_xs_full">
                                <input type="email" name="email" placeholder="Email*" class="w_full r_corners fw_light" required>
                            </div>
                        </li>
                        <li class="m_bottom_10">
                            <input type="text" name="subject" placeholder="Subject" class="w_full r_corners fw_light" required>
                        </li>
                        <li class="m_bottom_5">
                            <textarea class="w_full r_corners fw_light height_3" name="message" placeholder="Message" required></textarea>
                        </li>
                        <li class="m_bottom_10">
                            <button class="button_type_5 color_blue transparent r_corners fs_medium tr_all m_right_10 m_sm_bottom_10">Submit</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</section>