<section class="section_offset bg_light_2" data-appear-animation="fadeInUp">
    <div class="container t_align_c">
        <h1 class="color_dark fw_light m_bottom_15">{{.Get `welcome`}}</h1>
        <h3 style="padding: 1rem;">{{.Get `sunday`}} | {{.Get `sunday_time`}}</h3>
        <h3 style="padding: 1rem;">{{.Get `wednesday`}} | {{.Get `wednesday_time`}}</h3>
        <h4 style="padding: 1rem;">{{.Get `address`}}</h4>
        <h4 style="padding: 1rem;"><a href="/get_started" class="color_green fs_medium button_type_3 tr_all r_corners tt_uppercase d_inline_b">{{.Get `join_live`}}</a></h4>
    </div>
</section>